SUPABASE_PROJECT_ID="gfejerusjemhjnkzvizs"
SUPABASE_URL="https://gfejerusjemhjnkzvizs.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_FgaUpwyy1zVlWDzK848t5w_HDpWFblk"

VITE_SUPABASE_PROJECT_ID="gfejerusjemhjnkzvizs"
VITE_SUPABASE_URL="https://gfejerusjemhjnkzvizs.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_FgaUpwyy1zVlWDzK848t5w_HDpWFblk"

SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdmZWplcnVzamVtaGpua3p2aXpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTMxMjU4OCwiZXhwIjoyMTAwODg4NTg4fQ.4hnT32iECYviVWtHWyZ3Je2VNAhndk2XIP6004oi-kE"